{% extends "base.html" %}

{%block title %} Página Inicial {% endblock %}

{% block content %}
{% for post in posts %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post.title }}</h1>
                <div class="about">
                    by {{ post.author }} on {{ post.created.strftime('%d/%m/%Y') }}
                </div>
            </div>
        </header>
        <p class="body"> {{post.body}} </p>
    </article>
    {% if not loop.last %}
        <hr>
    {% endif %}    
{% endfor %}
{% endblock%}
